@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Lora, Serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #e0e0e0;
}

.main-content {
  max-width: 800px; /* Adjust as needed */
  padding: 20px;
  flex: 1;
}
