.container {
  max-width: 1200px;
  margin: 3rem auto 0;
  padding: 2rem;
  font-size: 1.3rem;
}

.heading {
  font-weight: bold;
  line-height: 1.2;
  color: #e9496f;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading img {
  width: 440px;
}

.blurb {
  max-width: 430px;
  line-height: 1.35;
  margin: 0 auto;
  background-color: #e9496f;
  padding: 30px;
  color: #fff;
}

.blurb a {
  text-decoration: underline;
}

.blurb a:hover {
  color: rgba(255, 239, 8, 0.895);
}

.stats {
  max-width: 430px;
  margin: 3rem auto;
}

.stats .header {
  font-weight: bold;
  font-size: 2rem;
}

.heroImage {
  max-width: 100%;
  aspect-ratio: 3 / 1;
  object-fit: cover;
}
